body {
    background-color: orange;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    background-color: white;
    text-align: right;
}

#signup-form {
    background-color: white;
    width: 350px;
    margin: auto;
}

.nav-links {
    text-align: right;
}

.social-image {
    width: 3-px;
    height: 30px;
    border-radius: 50%;
}

#social a {
    text-decoration: none;
}